*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
.all{
    width: 100%;
    height: 100%;
    font-family: 'Spartan', sans-serif;
    font-size: bold;
    display: flex;
}
.background-configuration{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
    display: none;
    justify-content: center;

}
.configuration{
    position: relative;
    
    min-width:160px;
    width: 50%;
    border: 1px solid black;
    background-color: white;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
}
.close-configuration{
    position: absolute;
    top: 1vh;
    right: 1vh;
    padding: 2px;
}
.configuration h4{
    margin: 10px 0;
}
.close-configuration:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    color: white;
}
.configuration input{
    margin: 8px;
    border: 1px solid black;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {/*removing arrows from inputs*/
  -webkit-appearance: none;
  margin: 0;
}
.nav-bar{
    min-width: 100px;
    height: 100%;
    background-color: limegreen;
    padding: 15px;
    color:white;
    margin: 0;

}
.nav-bar-open{
    width: 30%;
    overflow:visible;
}
.bar-decoration{
    padding: 0;
    width: 100%;
    height: 1px;
    border-bottom: 3px solid white;
}
nav ul{
    margin: 0;
    font-size: 16px;
    width: 100%;
    list-style: none;
    
}
nav ul li{
    display: flex;
    align-content: center;
    padding:10px 0px ;
    height: 100%;
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
}
.nav:hover{
    background-color: rgba(255,255,255,0.5);
    transition: 1s;
}
.display{
    
    height: 100%;
    background-color: white;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.background-about{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: royalblue;
    display: flex;
    justify-content: center;
}
.close-about{
    position: absolute;
    top: 0;
    left: 0;
}


.game{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    overflow: hidden;
    
}
.circle-bigger{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
